@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*-----HTML-----*/

html {
    scroll-behavior: smooth;
}

header {
    background: #464646;
    /*Azul UNISC: #046faf*/
}

body {
    background: #464646;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    padding-top: 1em;
    background-color: #083c5c;
    position: relative;
    bottom: 0;
    clear: both;
    z-index: -10;
    width: 100%;
    height: 152px;
}


/*-----Navegação-----*/

.box {
    background-color: white;
}

.navegation {
    display: flex;
    justify-content: space-evenly;
    width: 1080px;
}

.nav1 {
    margin: auto;
    width: 33%;
    vertical-align: middle;
}

.box button {
    background-color: white;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.box button:hover {
    color: #046faf;
    cursor: pointer;
}

.box button:active {
    color: #088c19;
}

.nav2 {
    text-align: center;
    vertical-align: middle;
}

.bannerunisc {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 4px;
}

.bannerunisc:hover {
    cursor: pointer;
}

.nav3 {
    width: 33%;
}


/*-----Recursos-----*/

.recursos {
    width: 1020px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.recursos li {
    display: inline-block;
    width: 22%;
    vertical-align: top;
    margin: 20px 1%;
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 15px;
    text-align: center;
}

.recursos h2 {
    font-size: 18px;
    font-weight: bold;
}

.recursos li:hover {
    border-color: #015280;
    color: #015280;
}

.recursos li:active {
    color: #088c19;
    border-color: #088c19;
}

.atividade {
    margin: 1em 0 0 0;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}


/*-----Footer-----*/

table {
    margin: auto;
    color: white;
}

.box1 {
    text-align: right;
    vertical-align: middle;
}

.box1 h2 {
    font-weight: bold;
    margin: 0px 5px 0px 0px;
}

.box1 p {
    margin: 0px 5px 3px 0px;
}

.box1 hr {
    width: 1px;
    border-color: transparent;
}

.box1 a {
    text-decoration: none;
    color: white;
}

.box1 a:hover {
    text-decoration: underline;
}

.box2 {
    max-height: 100px;
}

.vl {
    border-left: 3px solid white;
    height: 100px;
}

.box3 {
    vertical-align: middle;
}

.box3 img {
    max-width: 250px;
    max-height: 150px;
    margin-left: 5px;
}

.cprg {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    padding: 20px 50px;
}

.backtotop {
    position: fixed;
    bottom: 10px;
    right: 0px;
    font-size: 12px;
    padding: 10px;
}

.spoiler {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #083c5c;
}