/*-----Body-----*/

body,
header {
    background: #464646;
    /*Azul UNISC: #046faf*/
}


/*-----Navegação-----*/

.box {
    background-color: white;
}

.navegation {
    display: flex;
}

.bannerunisc {
    margin: 1em;
    width: 12%;
}

.bannerunisc:hover {
    cursor: pointer;
}

.box button {
    background-color: white;
    border: none;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.box button:hover {
    color: #046faf;
    font-weight: bold;
    cursor: pointer;
}

.box button:active {
    font-size: 17px;
    color: #088c19;
}


/*-----Recursos-----*/

.recursos {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.recursos li {
    display: inline-block;
    width: 22%;
    vertical-align: top;
    margin: 20px 1%;
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 15px;
    text-align: center;
}

.recursos h2 {
    font-size: 18px;
    font-weight: bold;
}

.atividade {
    margin: 1em 0 0 0;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    /*overflow: hidden;*/
}

.recursos li:hover {
    border-color: #015280;
    color: #015280;
}

.recursos li:active {
    color: #088c19;
    border-color: #088c19;
}


/*-----Footer-----*/

footer {
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #083c5c;
}

table {
    width: 100%;
    margin: auto;
    color: white;
}

.box1 {
    text-align: right;
    margin: auto;
    max-height: 150px;
    vertical-align: middle;
}

.box1 h2 {
    /*Ok*/
    font-weight: bold;
    margin: 0px 5px 0px 0px;
}

.box1 p {
    /*Ok*/
    margin: 0px 5px 3px 0px;
}

.box1 hr {
    /*Ok*/
    width: 1px;
    color: transparent;
    border-color: transparent;
}

.box1 a {
    /*Ok*/
    text-decoration: none;
    color: white;
}

.box1 a:hover {
    /*Ok*/
    text-decoration: underline;
    color: white;
}

.box2 {
    margin: auto;
    max-height: 100px;
}

.vl {
    border-left: 3px solid white;
    height: 100px;
    vertical-align: middle;
}

.box3 {
    justify-content: left;
    margin: auto;
    vertical-align: middle;
}

.box3 img {
    box-align: left;
    max-width: 250px;
    max-height: 150px;
    width: auto;
    height: auto;
    margin-left: 5px;
}

.cprg {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    padding: 20px 50px;
}


/*Pontos para Otimizar:
- Link do Moodle na imagem do topo está linkada com toda barra, reduzir apenas pra imagem.




*/