/*-----Body-----*/

body,
header {
    background: #046faf;
}


/*-----Navegação-----*/

.box {
    position: relative;
    margin: 1em;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid #046faf;
    border-radius: 15px;
    width: auto;
}

.bannerunisc {
    display: block;
    margin: auto;
    width: 50%;
    align-content: center;
}

nav {
    position: relative;
    text-align: center;
}

.box ul {
    display: inline-block;
    vertical-align: top;
    padding: 15px;
}

nav li {
    display: inline;
    padding: 16px;
}

.box a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.box a:hover {
    color: #015280;
    font-weight: bold;
    text-decoration: underline;
}

.box a:active {
    color: #088c19;
}


/*-----Main-----*/

.conceito {
    position: relative;
    max-width: 940px;
    width: 50%;
    margin: auto;
    background-color: seashell;
    border: 2px solid black;
    border-radius: 15px;
}

.conceito h2 {
    position: relative;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

.conceito ul {
    position: relative;
    display: inline-block;
    padding: 5px;
    left: 15px;
}

.conceito li {
    list-style: circle;
    margin: 5px;
}

.video {
    padding: 0 0 1em 0;
    margin: 1em 1em 0 1em;
}

.video div {
    margin: 1em auto;
}

.tips {}


/*-----Footer-----*/

footer {
    text-align: center;
    background: url(img_bg.jpg);
}

.rodape {
    position: relative;
    margin: 10px 10px;
    padding: 20px 50px;
    width: 50%;
}

.cprg {
    font-size: 12px;
    color: #FFFFFF;
    padding: 20px 50px;
}